<% content_for :page_specific_head do %>
    <meta property="og:title" content="The Lean Startup Book"/>
    <meta property="og:site_name"   content="<%= DEFAULT_FB_POST_NAME %>"/>
    <meta property="og:description" content="<%= @sharing.content %>"/>
    <meta property="og:image"       content="<%= DEFAULT_FB_SHARE_IMAGE %>"/>
    <meta property="og:url"         content="<%= request.url %>"/>
    <meta property="fb:admins"      content="100001665281750"/>
    <meta property="og:type"        content="website"/>
<% end %>

<h1><%= @sharing.user.display_name %> shared this</h1>

<div class="sharing" style="clear:both;">
  <%= link_to image_tag(@sharing.user.photo.url(:mini), :class => 'share_image'), profile_path(@sharing.user) %>
  <div class="share_text">
    <%= @sharing.content %>
    <br/>
    <br/>
    <%= @sharing.created_at.strftime("%m/%d/%Y %I:%M%p GMT") %> | <%= link_to "permalink", sharing_path(@sharing) %> |

    <a href="http://twitter.com/share"
       class="twitter-share-button"
       data-url="<%= sharing_url(@sharing) %>"
       data-text="<%= @sharing.content %>"
    data-count="horizontal">Tweet</a>

    <fb:like href="<%= sharing_url(@sharing) %>"
             ref="unique_tracking_code_per_referrer_goes_here"
             layout="button_count"
             show_faces="false"
             width="10"
             action="like"
             font="verdana">
    </fb:like>
    

  </div>
</div>

<%= link_to "Share something yourself", new_sharing_path %>