.achievement(
  class=achievement.event
)
  // es5 only in pug. also only one root node
  .content
    .title
      a(
        href=window.SHIKI_USER.url + '/achievements'
      )
        = I18n.t('frontend.achievements.title.' + achievement.event)

    .name
      .icon
      a(
        href='/achievements/' + achievement.neko_id
      )= achievement.label
      if achievement.level
        span.level ур. #{achievement.level}
  .image
    img(
      src=achievement.image
    )
