<!DOCTYPE html>
<html>
<head>
  <title>OmniauthDeviseExample</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'forms' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <meta property="title" content="<%= @page_title || DEFAULT_PAGE_TITLE %>"/>
  <meta property="description" content="<%= @page_description || DEFAULT_PAGE_DESCRIPTION %>"/>
  
  <%= content_for :page_specific_head %>
</head>
<body>

<div class="page_content">
  <div id="user_nav">

    <%= link_to 'Home', '/' %>
    <% if user_signed_in? %>
        <%= link_to 'Profile', profile_path(current_user) %>
        <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
        <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>

  <h1 class="site-title">Devise/OmniAuth demo</h1>
  <%= raw notice_html %>
  <%= raw alert_html %>

  <%= yield %>

</div>

<div class="footer">
  copyright and stuff
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js">
</script>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
</body>
</html>
