<div>
  <h2>Список правок пользователя <%=@user.nickname %></h2>

  <div class="animes">
    <% @changes.each_with_index do |change,i| %>
      <p>
        <%=i+1 %>.
        <span class="date"><%=change.created_at.strftime('%d.%m.%Y') %></span>
        <%=link_to change.item.name.html_safe, url_for(change.item), class: 'bubbled', 'data-remote' => true, 'data-href' => self.respond_to?("tooltip_#{change.item.class.name.downcase}_url") ? self.send("tooltip_#{change.item.class.name.downcase}_url", change.item) : '' %>
        <span style="color: <%=user_change_status_color(change.status) %>"><%=t "UserChangeStatus.#{change.status}" %></span>
      </p>
      <% if i > @changes.count - 100 %>
        <p style="font-size: 10px; color: #444; line-height: 11px; margin-bottom: 10px;"><%=change.value %></p>
      <% end %>
    <% end %>

    <br />
    <p>Всего <b><%=@paid %></b> аниме с принятыми или ожидающими модерации правками.</p>
  </div>
</div>
