<div class="item-content-editor">
  <% if user_signed_in? && defined?(warning) && (warning) %>
    <p class="warning">Перед внесением изменений обязательно ознакомьтесь с <a href="http://shikimori.org/groups/2">правилами</a>.</p>
  <% end %>
  <%=form_tag moderation_do_user_change_path, :format => :json, :remote => true, 'data-type' => :json do %>
    <%=hidden_field_tag 'change[model]', item.class.name, 'autocomplete' => :off %>
    <%=hidden_field_tag 'change[column]', field, 'autocomplete' => :off %>
    <%=hidden_field_tag 'change[item_id]', item.id, 'autocomplete' => :off %>
    <%=text_area_tag 'change[value]', '' %>
    <% if defined?(bbcontent) && bbcontent %>
      <div class="item-bbcontent"><%=item.send(field.to_sym) %></div>
    <% end %>
  <% end %>
</div>
