a.b-image(
  href=image.original_url
  id=image.id
  rel=rel
  data-user_id=image.user_id
  data-tags=image.tags
)
  // es5 only in pug. also only one root node
  if destroy_url
    .mobile-edit
    .controls
      .delete(
        title=I18n.t('frontend.images.delete')
      )
      .confirm(
        title=I18n.t('frontend.images.confirm')
        data-action=destroy_url
        data-method="delete"
        data-remote="true"
        data-type="json"
      )
      .cancel(
        title=I18n.t('frontend.images.cancel')
      )
  img(src=image.preview_url)
