a.b-image(
  href="#{image.original_url}"
  id="#{image.id}"
  rel="#{rel}"
  data-tags="#{image.tags}"
)
  if destroy_url
    .mobile-edit
    .controls
      .delete(
        title=t('frontend.images.delete')
      )
      .confirm(
        title=t('frontend.images.confirm')
        data-action="#{destroy_url}"
        data-method="delete"
        data-remote="true"
        data-type="json"
      )
      .cancel(
        title=t('frontend.images.cancel')
      )
  img(src="#{image.preview_url}")
