if hasCollection
  .search-mode(
    class=(currentMode === 'collection' ? 'active' : '')
    data-mode='collection'
  )= I18n.t('frontend.search.mode.collection')
each mode in ['anime', 'manga', 'ranobe', 'character', 'person']
  .search-mode(
    class=(currentMode === mode ? 'active' : '')
    data-mode=mode
  )= I18n.t(`frontend.search.mode.${mode}`)
